<h3>One time secret retrieved</h3>

<% if @revealsecret %>

<div class="alert alert-warning">
IMPORTANT: this secret has been deleted from the database.<br>
If you reload this page or navigate away, it will be lost.<br>
Please copy and store the secret first!<br>
</div>

<% case @secret['secrettype'] %>
<% when "customsecret" %>
<h4>Secret</h4><button onclick="copyToClipboard('#customsecret')">Copy to clipboard</button>
<pre id="customsecret" class="alert alert-info"><%=h @secret['customsecret'] %></pre>

<% when "randomstring" %>
<h4>Secret</h4><button onclick="copyToClipboard('#randomstring')">Copy to clipboard</button>
<pre id="randomstring" class="alert alert-info"><%= @secret['randomstring'] %></pre>

<% when "sshkeypair" %>
<h4>SSH Keypair</h4>
<h5>Public Key:</h5><button onclick="copyToClipboard('#public_key')">Copy to clipboard</button>
<pre id="public_key" class="alert alert-info"><%= @secret['public_key'] %></pre>

<h5>SSH Public Key:</h5><button onclick="copyToClipboard('#ssh_public_key')">Copy to clipboard</button>
<pre id="ssh_public_key" class="alert alert-info"><%= @secret['ssh_public_key'] %></pre>

<% if @secret['private_key'] %>
<h5>Private Key:</h5><button onclick="copyToClipboard('#private_key')">Copy to clipboard</button>
<pre id="private_key" class="alert alert-info"><%= @secret['private_key'] %></pre>
<% end %>

<% if @secret['encrypted_private_key'] %>
<h5>Encrypted Private Key:</h5><button onclick="copyToClipboard('#encrypted_private_key')">Copy to clipboard</button>
<pre id="encrypted_private_key" class="alert alert-info"><%= @secret['encrypted_private_key'] %></pre>
<% end %>

<% if @secret['keypassphrase'] != '' %>
<h5>Key Passphrase:</h5><button onclick="copyToClipboard('#keypassphrase')">Copy to clipboard</button>
<pre id="keypassphrase" class="alert alert-info"><%=h @secret['keypassphrase'] %></pre>
<% end %>
<% end %>

<% if @secret['comment'] and @secret['comment'] != '' %>
<h4>Comment:</h4>
<pre id="comment" class="alert alert-info"><%=h @secret['comment'] %></pre>
<% end %>

<% else %>

<form action='/<%= @shortcode %>' method='post' class="form-inline well">
  Click this button if you're ready to copy, paste and store the secret<br>
  The 'reveal secret' button is a safety measure to make sure you don't accidentally reveal the secret, i.e. on a mobile device in whatsapp<br>
  <br>
  <input class="btn primary" type='submit' name='revealsecret' value='reveal secret'>
</form>

<% end %>
